In [110]:
import traceback
import pymysql
import pymysql.cursors

# grant all on *.* to yhz@localhost identified by "123"

def mysql(sql):
    db = pymysql.connect(host='localhost', port=3306, user='yhz', passwd='123',charset = 'utf8')
    cursor = db.cursor()
    try:
        print (sql)
        result = cursor.execute(sql)
        print(result)
#        db.commit()
        results = cursor.fetchall()
    except:
        traceback.print_exc()  
        db.rollback()
    db.close()
    return results

    
#/etc/mysql/my.conf
#service mysql restart

In [106]:
results = mysql('show variables like "%character%"')
for result in results:
    print(result)

show variables like "%character%"
8
('character_set_client', 'utf8')
('character_set_connection', 'utf8')
('character_set_database', 'latin1')
('character_set_filesystem', 'binary')
('character_set_results', 'utf8')
('character_set_server', 'latin1')
('character_set_system', 'utf8')
('character_sets_dir', '/usr/share/mysql/charsets/')

In [107]:
results = mysql('create database dac2020')
for result in results:
    print(result)

create database dac2020

Traceback (most recent call last):
  File "<ipython-input-105-ee47cf72e390>", line 12, in mysql
    result = cursor.execute(sql)
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/cursors.py", line 170, in execute
    result = self._query(query)
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/cursors.py", line 328, in _query
    conn.query(q)
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/connections.py", line 517, in query
    self._affected_rows = self._read_query_result(unbuffered=unbuffered)
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/connections.py", line 732, in _read_query_result
    result.read()
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/connections.py", line 1075, in read
    first_packet = self.connection._read_packet()
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/connections.py", line 684, in _read_packet
    packet.check_error()
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/protocol.py", line 220, in check_error
    err.raise_mysql_exception(self._data)
  File "/home/yhz/anaconda3/envs/pytorch/lib/python3.7/site-packages/pymysql/err.py", line 109, in raise_mysql_exception
    raise errorclass(errno, errval)
pymysql.err.ProgrammingError: (1007, "Can't create database 'dac2020'; database exists")

UnboundLocalError: local variable 'results' referenced before assignment

In [112]:
results = mysql('drop database dac2020')

drop database dac2020
0

In [109]:
results = mysql('create database dac2020;')
print("results = ", results)
for result in results:
    print(result)

create database dac2020;
1
results =  ()

In [113]:
results = mysql('show databases;')
for result in results:
    print(result)

show databases;
4
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [76]:
import traceback
import pymysql as pymysql
import pymysql.cursors

# grant all on *.* to yhz@localhost identified by "123"

def mysqls(sqls):
    db = pymysql.connect(host='localhost', port=3306, user='yhz', passwd='123', db='dac2020', charset = 'utf8')
    cursor = db.cursor()
    results = []
    try:
        print ("get sqlseries = ", len(sqls))
        for sql in sqls:
            result = cursor.execute(sql)
            print(sql, " : ", result)
            db.commit()
            results.append(cursor.fetchall())
    except:
        traceback.print_exc()  
        db.rollback()
    db.close()
    return results

In [77]:
#results = mysqls(['use dac2020;', 'drop table user;', 'show tables;'])
results = mysqls(['create table user(id int, name varchar(20));', 'show tables;'])
for result in results:
    print(result)

get sqlseries =  2
create table user(id int, name varchar(20));  :  0
show tables;  :  1
()
(('user',),)

In [78]:
results = mysqls(['insert into user values(1, "Zhong Nanshan");', 'insert into user values(2, "Chen Wei");','select * from user;'])
for result in results:
    print(result)

get sqlseries =  3
insert into user values(1, "Zhong Nanshan");  :  1
insert into user values(2, "Chen Wei");  :  1
select * from user;  :  2
()
()
((1, 'Zhong Nanshan'), (2, 'Chen Wei'))

In [80]:
results = mysqls(['select * from user where `id`=2;'])
for result in results:
    print(result)

get sqlseries =  1
select * from user where `id`=2;  :  1
((2, 'Chen Wei'),)

In [82]:
results = mysqls(['update user set id = 4 where `name`=\'Chen Wei\';','select * from user;'])
for result in results:
    print(result)

get sqlseries =  2
update user set id = 4 where `name`='Chen Wei';  :  1
select * from user;  :  2
()
((1, 'Zhong Nanshan'), (4, 'Chen Wei'))

In [83]:
results = mysqls(['delete from user where id = 4;','select * from user;'])
for result in results:
    print(result)

get sqlseries =  2
delete from user where id = 4;  :  1
select * from user;  :  1
()
((1, 'Zhong Nanshan'),)

In [84]:
results = mysqls(['drop table user;', 'show tables;'])
for result in results:
    print(result)

get sqlseries =  2
drop table user;  :  0
show tables;  :  0
()
()